body {
  font-family: Open Sans, sans-serif;
  text-align: center;
  align-content: center;
}

ul {
  list-style-type: none; /* Ẩn dấu chấm mặc định */
  padding: 0; /* Bỏ padding */
}

li {
  display: flex;
  align-items: center; /* Căn giữa theo chiều dọc */
  justify-content: center; /* Căn giữa theo chiều ngang */
}

li::before {
  content: '➜'; /* Thêm dấu chấm */
  margin-right: 8px; /* Khoảng cách giữa dấu chấm và văn bản */
}